/01-aula-operadores/nbproject/private/
/01-aula-operadores/build/
/01-aula-operadores/dist/
/Exercicio/nbproject/private/
/Exercicio/build/
/exercicio2/nbproject/private/
/execicio3/nbproject/private/
/exercicio3/nbproject/private/
/atividades/nbproject/private/
/exercicio6/nbproject/private/
